In [8]:
#importing libraries
from pandas import read_csv
from pandas import DataFrame
from pandas import concat

In [9]:
#creating a series from the imported data
series = read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv', header=0, index_col=0, parse_dates=True).squeeze('columns')

In [10]:
#converting the values of the series to a DataFrame
temps = DataFrame(series.values)

In [11]:
#creating an expanding window
window = temps.expanding()

In [12]:
#creating a new dataframe with the descriptive stats
dataframe = concat([window.min(), window.mean(), window.max(), temps.shift(-1)], axis=1)

In [13]:
#setting the columns of the dataframe
dataframe.columns = ['min', 'mean', 'max', 't+1']

In [14]:
#printing the first few rows
dataframe.head()

    min       mean   max   t+1
0  20.7  20.700000  20.7  17.9
1  17.9  19.300000  20.7  18.8
2  17.9  19.133333  20.7  14.6
3  14.6  18.000000  20.7  15.8
4  14.6  17.560000  20.7  15.8