In [54]:
#create a lag feature
from pandas import read_csv
from pandas import DataFrame
from pandas import concat

In [55]:
#reading the data into a dataframe
df = read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv', header=0,index_col=0, parse_dates=True).squeeze("columns")

In [56]:
#getting the values into a new dataframe
temps = DataFrame(df.values)

In [57]:
#shifting the values
shifted = temps.shift(1)

In [58]:
#finding the mean of the last two values
window = shifted.rolling(window=2)
means = window.mean()

In [59]:
#creating a new dataframe with the mean previous and current temp, and the next temp
dataframe = concat([means, temps], axis = 1)

In [60]:
#creating new column names for the dataframe
dataframe.columns = ['mean(t-1,t)', 't+1']

In [61]:
#taking a peek at the dataset
dataframe.head()

   mean(t-1,t)   t+1
0          NaN  20.7
1          NaN  17.9
2        19.30  18.8
3        18.35  14.6
4        16.70  15.8